<div class="row">
    <div class="col-1 col-sm-1 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
    </div>

    <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <form method="post" id="frmRegistro" class="ps-2 pe-4">
            <input type="hidden" id="id" name="id" value="{{ '{{ registro.id }}' }}">
            <div class="mb-2">
                <span class="text-danger">*</span>
                <label for="descripcion">Descripción:</label>
                <input type="text" id="descripcion" name="descripcion" class="form-control form-control-lg while-waiting" value="{{ '{{ registro.descripcion }}' }}" required="true">
            </div>
            <div class="mb-2">
                <span class="text-danger">*</span>
                <label for="fechaHora">Fecha Hora:</label>
                <input type="text" id="fechaHora" name="fechaHora" class="form-control form-control-lg while-waiting" value="{{ '{{ registro.fechaHora || angularjsHora }}' }}" readonly="true">
            </div>
            <div class="mb-2 text-end">
                <button class="btn btn-primary btn-lg while-waiting">
                    <span class="ng-hide" ng-show="!registro.id">Registrar</span>
                    <span class="ng-hide" ng-show="registro.id">Actualizar</span>
                </button>
            </div>
        </form>
        <div class="div-registro"></div>
    </div>

    <div class="col-1 col-sm-1 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
    </div>
</div>

<div class="div-to-complete-screen"></div>
